.contentImgWrapper {
    width: 100%;
    height: 200px;
}

.contentImgWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profileInfoWrapper {
    background-color: blanchedalmond;
}
.avatarWrapper {
    padding: 10px;
    width: 150px;
    height: 150px;
}

.avatarWrapper img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.description {
    height: 210px;
    display: flex;
}