.contentImgWrapper {
    width: 100%;
    height: 200px;
}

.contentImgWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profileInfoWrapper {
    background-color: blanchedalmond;
}