.usersWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.usersCanvas {
    background: #eaeaea;
    height: 100%;
}
.activePage {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    font-weight: 600;
    margin: 0 6px;
}
.page {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    margin: 0 6px;
}
.loaderWrapper {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}