.usersWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.usersCanvas {
    background: #eaeaea;
    height: 100%;
}
.loaderWrapper {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}