.post_new {
    margin: 10px 10px 0 10px;
    display: flex;
    gap: 10px;
    color: #383b3f;
}

.myPostsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: blanchedalmond;
}

.input {
    flex-grow: 1;
}