.header {
    display: flex;
    flex-direction: row;
    grid-area: header;
    align-items: center;
    background-color: #c3f5e3;
}
.imgWrapper {
    margin-left: 7px;
    width: 50px;
    height: 50px;
}
.header img {
    max-height:100%;
}
.titleWrapper {

}
.titleWrapper p {
    font-weight: bold;
    display: block;
    margin-left: 10px;
}