.myPostsWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background: #eaeaea;
    height: 100%;
}
.post_new {
    width: 100%;
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
}

.postNewCanvas {
    display: flex;
    gap: 10px;
    color: #383b3f;
}