.authorWrapper {
    display: flex;
    flex-direction: row;
}

.bodyWrapper {

}

.avatarWrapper {
    width: 50px;
    height: 50px;
}

.name {
    padding-left: 10px;
}
.date {
    padding-left: 10px;
    font-size: 1rem;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #f1ecec;
    color: var(--grey1)
}

.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.postInteractions {
}
.likes {
    float: right;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.likeSvgContainer {
    min-width: 30px;
    height: 20px;
}
.likes svg {
    cursor: pointer;
    fill: #2a3249;
    display: block;
    margin: auto;
    width: 20px;
    transition: width 0.2s ease-out
}
.likes svg:hover {
    width: 25px;

}