.chatWrapper{
    flex-grow: 1;
    height: var(--chat-height);
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}
.inputWrapper {
    display: flex;
    gap: 10px;
    color: #383b3f;
    margin-top: 20px;
    justify-content: space-between;
}
.inputWrapper textarea {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    min-height: 54px;
    max-height: 80px;
    flex-grow: 1;
    background: #fafafa;
}