* {
  font-size: 1.2rem;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "header header"
  "navbar content";
  grid-template-rows: 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}