.dialogsWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 90vh;
    gap: 10px;
    height: 100%;
}

.chats {
    display: flex;
    flex-direction: column;
    background: #eaeaea;
    padding: 10px;
}

.messagesPage {
    background: #eaeaea;
    padding: 10px;
    height: 100%;
}

.messagesPage .message {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    font-weight: 600;
}
